.todayHeader {
  background-color: var(--color-today-bg);
}

.sundayHeader {
  background-color: var(--color-sunday-bg);
}

.saturdayHeader {
  background-color: var(--color-saturday-bg);
}

.sundayCol {
  background-color: var(--color-sunday-bg);
}

.saturdayCol {
  background-color: var(--color-saturday-bg);
}

.weekdayEvenHeader {
  background-color: var(--color-weekday-even-bg);
}

.weekdayEvenCol {
  background-color: var(--color-weekday-even-bg);
}
