.container {
  display: flex;
  gap: 4px;
}

.dayButton {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  font-size: 13px;
  border: none;
  cursor: pointer;
  transition: all var(--transition-duration-150);
}
