.sideNav {
  position: fixed;
  bottom: 0;
  z-index: 9999;
  transition: all var(--transition-duration-300) ease-in-out;

  &__content {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
